<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{site_title}</title>
    <link rel="stylesheet" href="{adr}/system/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="{adr}/system/template/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{adr}/system/template/css/codemirror.css">
    <link rel="stylesheet" href="{adr}/system/template/css/dialog.css">
    <link rel="stylesheet" href="{adr}/system/template/css/foldgutter.css">
    <link rel="stylesheet" href="{adr}/system/template/css/material.css">
    <link rel="stylesheet" href="{adr}/system/template/css/datatables.min.css">
    <link rel="stylesheet" href="{adr}/system/template/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{adr}/system/template/css/style.css">
    <link rel="stylesheet" href="{adr}/system/template/css/character.css">

    <script src="{adr}/system/template/js/jquery-3.2.1.min.js"></script>
    <script src="{adr}/system/template/js/bootstrap.min.js"></script>
    <script src="{adr}/system/template/js/bootstrap-select.min.js"></script>
    <script src="{adr}/system/template/js/popper.min.js"></script>

    <script src="{adr}/system/template/js/i18n/defaults-ru_RU.js"></script>
    <script src="{adr}/system/template/js/fontawesome.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">{title}</a>

        <div class="navbar-collapse collapse" id="menu">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="" href="{adr}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="chars" href="{adr}/?controller=editor&page=chars">Персонажи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="server" href="{adr}/?controller=server">Сервер</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="mail" href="{adr}/?controller=server&page=mail">Отправить почту</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="chat" href="{adr}/?controller=server&page=chat">Чат</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="settings" href="{adr}/?controller=settings">Настройки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="logs" href="{adr}/?controller=settings&page=logs">Журнал</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-active="logout" href="{adr}/?controller=index&page=logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container center-block">
    <div id="windows"></div>
    <div id="systemMessage"></div>
    {content}
</div>
{widgetChatPattern}
<br>
<br>


<script src="{adr}/system/template/js/codemirror.js"></script>
<script src="{adr}/system/template/js/addons/search.js"></script>
<script src="{adr}/system/template/js/addons/searchcursor.js"></script>
<script src="{adr}/system/template/js/addons/jump-to-line.js"></script>
<script src="{adr}/system/template/js/addons/dialog.js"></script>
<script src="{adr}/system/template/js/addons/foldcode.js"></script>
<script src="{adr}/system/template/js/addons/foldgutter.js"></script>
<script src="{adr}/system/template/js/xml.js"></script>
<script src="{adr}/system/template/js/datatables.min.js"></script>
<script src="{adr}/system/template/js/dataTables.bootstrap4.min.js"></script>
<script src="{adr}/system/template/js/notify.min.js"></script>
<script src="{adr}/system/template/js/system.js"></script>


<script>
    window.__theme = 'bs4';
    var adr = "{adr}";
    var widgetChat = "{widgetChat}";

    $(document).ready(function () {
        $('[data-toggle="datatable"]').DataTable({
            "language": {
                "lengthMenu": "Показывать по _MENU_",
                "zeroRecords": "Ничего не найдено - извините",
                "info": "Страниц _PAGE_ из _PAGES_",
                "infoEmpty": "Нет доступных записей",
                "infoFiltered": "(Отфильтрован из _MAX_ записей)",
                "sPrevious": "Назад",
                "sNext": "Вперед",
                "sLast": "Вконец",
                "sSearch": "Поиск",
                "sFirst": "Вначало"
            }
        });
    });

    $('.selectPicker').selectpicker({
        style: 'btn-success',
        size: 4
    });

</script>
</body>
</html>