<h5>Настройки</h5>
<hr>
<b>Дождитесь завершения процесса генерации Итемов и Иконок! <br> После чего можете перезагрузить страницу для обновления количества иконок и предметов.</b><br><br>
Файл Elements.data в папке /system/data/elements.data - {status_element} <br>
Итемов в базе данных: {items_count} <span class="loaderEl"></span> <br>
<button class="btn btn-success" onclick="goRead()">Прочитать Elements.data</button>
<br>
<br>
Файл с иконками /system/data/iconlist_ivtrm.png - {status_png_icons}<br>
Файл с названиями /system/data/iconlist_ivtrm.txt - {status_txt_icons}<br>
Icon в базе данных: {icons_count} <span class="loaderIc"></span> <br>
<button class="btn btn-success" onclick="uploadIconItems()">Загрузить иконки</button>